<% title t('.title') %>
<% at_page t('.menu_link') %>

<p>Демонстрационное веб-приложение для курса Getting Starting with Rails 5 на сайте Eduonix. Автор - Илья Бодров.</p>

<p>Исходный код доступен по адресу <%= link_to 'github.com/bodrovis/EduonixRails', 'https://github.com/bodrovis/EduonixRails', target: '_blank' %>.</p>