<% title t('.title') %>
<% at_page t('.menu_link') %>

<p>This is a demo web application for the Getting Starting with Rails 5 on Eduonix created by Ilya Bodrov.</p>

<p>Source code located at <%= link_to 'github.com/bodrovis/EduonixRails', 'https://github.com/bodrovis/EduonixRails', target: '_blank' %>.</p>