<footer>
  <div class="container">
    <p class="muted">&copy; 2017
      <%= mail_to 'test@example.com' do %>
        <i class="icon-envelop"></i>
        Contact us
      <% end %>
    </p>
    <p><%= link_to 'Twitter', 'https://twitter.com/bodrovis', class: 'icon twitter' %></p>
  </div>
</footer>