<footer>
  <div class="container">
    <span class="muted">&copy; 2017 <%= mail_to 'test@example.com', 'Contact us' %></span>
    <p><%= link_to 'Twitter', 'https://twitter.com/bodrovis', class: 'icon twitter' %></p>
  </div>
</footer>