<% content_for :menu do %>
  <nav class="navbar navbar-inverse bg-inverse">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <i class="icon-home"></i>
      BraveCoder
    <% end %>
    <ul class="navbar-nav mr-auto">
      <%= nav_item 'home', root_path, page %>
      <%= nav_item 'about', about_path, page %>
    </ul>
  </nav>
<% end %>